language: python

cache: pip

python:
 - "3.8"

before_install:
  - pip install poetry

install:
  - poetry config settings.virtualenvs.in-project true
  - poetry install -vv

script:
  - poetry run flake8 pyslowloris
  - poetry run pytest

branches:
  only:
    - master
    - develop

notifications:
  email:
    recipients:
      -  maxkrivich@gmail.com
    on_success: never
    on_failure: always