language: python

python:
  - "2.7"

install:
  - pip install -r requirements.txt
  - pip install coveralls
  - pip install flake8

before_script:
  - flake8 . --ignore=E501,W291,W293 --exit-zero

script:
  - python tests.py
  - coverage run tests.py

after_success:
  - coveralls

branches:
  only:
    - master
