certifi==2017.7.27.1
chardet==3.0.4
fake-useragent==0.1.7
idna==2.6
pexpect==4.2.1
pluggy==0.5.0
ptyprocess==0.5.2
py==1.4.34
requests==2.18.4
tox==2.7.0
tqdm==4.15.0
urllib3==1.22
virtualenv==15.1.0
